<footer class="page-footer">
  <div class="container">
    <div class="inner">
      <div class="wrapper">
        <div class="group group-slink">
          <h5>{{ .Site.Title }}</h5>
          <ul class='slink'>
            {{ with .Site.Menus.social }} {{ range . }}
            <li>
              <a href="{{.URL}}" target="_blank" title="{{.Name}}">
                {{ .Pre | default ("<i class='material-icons'>language</i>" | safeHTML ) }}
              </a>
            </li>
            {{ end }} {{ end }}
          </ul>
        </div>
        <div class="group group-flink">
          <h5>友情链接</h5>
          <ul>
            {{ with .Site.Menus.friend }}{{ range . }}
            <li>
              <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
            </li>
            {{ end }}{{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="inner">
        {{ .Site.Params.copyright }}
      </div>
    </div>
  </div>
</footer>